@model IEnumerable<ASF.Entities.Country>

@{
    ViewBag.Title = "Index";
}
@Html.Partial("_Espacio1")
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @*<th>
            @Html.HiddenFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.HiddenFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.HiddenFor(model => model.ChangedOn)
        </th>
        <th>
            @Html.HiddenFor(model => model.ChangedBy)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        @*<td>
            @Html.HiddenFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.HiddenFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.HiddenFor(modelItem => item.ChangedOn)
        </td>
        <td>
            @Html.HiddenFor(modelItem => item.ChangedBy)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
@Html.Partial("_Espacio2")