@model IEnumerable<ASF.Entities.DealerDTO>

@{
    ViewBag.Title = "Listado Proveedores";
}
@Html.Partial("_Espacio1")

<h2>Listado Proveedores</h2>
<br /><br />
<div class="row">
    <div class="col-sm-9">
        <p>@Html.ActionLink("Alta Proveedores", "Create", null, new { @class = "btn btn-primary btn-sm" })</p>
    </div>
    @*<div class="col-sm-1">
        @Html.ActionLink("Country", "Index", "Country", null, new { @class = "btn btn-success btn-sm" })
    </div>
    <div class="col-sm-1">
        @Html.ActionLink("Category", "Index", "Category", null, new { @class = "btn btn-success btn-sm" })
    </div>*@
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th>
            @Html.DisplayName("Apellido")
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>*@
        <th>
            @Html.DisplayName("Categoria")
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.CountryId)
            </th>*@
        <th>
            @Html.DisplayName("Pais")
        </th>
        <th>
            @Html.DisplayName("Rubro")
        </th>
        <th>
            @Html.DisplayName("Cantidad Productos")
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CountryId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalProducts)
            </td>
          
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Ver", "Details", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@Html.Partial("_Espacio2")