@using App.UI.Web.Application.ExtensionMethods
@model IEnumerable<ASF.Entities.Product>

@{
    ViewBag.Title = "Listado de Productos";
}

@Html.Partial("_Espacio1")

<h2>Listado de Productos</h2><br />

<a href='@Url.Action("mostrarCarrito", "Cart")'>
    @*<img src= @Url.Content("fa fa-shopping-cart fa-3x") />*@
    <i class="fa fa-shopping-cart fa-3x" style="float:right; padding-right:50px" aria-hidden="true"></i>
    <h5 style="float:right; padding-right:10px" aria-hidden="true">Mi Carrito</h5>
</a>

@if (User.IsInRole("Admin"))
{
    <p>@Html.ActionLink("Alta de Producto", "Create", null, new { @class = "btn btn-primary btn-sm" })</p>
}

<br />
<br />
<hr style="clear:both" />

<div class="container">
    <div class="row">
        <div class="col-sm-12">

            @foreach (var item in Model)
            {
                <div class="col-xs-3">
                    <div class="thumbnail">
                        <img class="img-thumbnail" src=@Url.Content("~/image/" + item.Image) alt=@Html.DisplayFor(modelItem => item.Title) />
                        <div class="caption">
                            <h4 id="nombre">@Html.DisplayFor(modelItem => item.Title)</h4>
                            <p id="description">@Html.DisplayFor(modelItem => item.Description)</p>
                            <p id="precio"> $ @Html.DisplayFor(modelItem => item.Price)</p>
                            <p>@Html.ActionLink("Agregar", "agregarCarrito", "Cart", new { id = item.Id }, new { @class = "btn btn-primary" }) @*@Html.ActionLink("Leer más", "Details", new { id = item.Id })*@ </p>
                            @if (User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                                @*@Html.LanguageString("ABM.Edit")*@
                            }
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>
@*</table>*@

@Html.Partial("_Espacio2")