@*@model IEnumerable<ASF.Entities.CartItem>*@

@{
    ViewBag.Title = "Cart item";
}

@Html.Partial("_Espacio1")

<div class="row">
    <div class="col-lg-8">
        <h2>Productos en Carrito</h2><br />
    </div>
    <div class="row">
        <div class="col-lg-4" style="float:right">
            @*@Html.ActionLink("Finalizar Compra", "finalizarCompra", "Cart", null, new { @class = "btn btn-primary" })*@
            @Html.ActionLink("Finalizar Compra", "pagoCompra", "Cart", null, new { @class = "btn btn-primary" })
        </div>
    </div>
    @*<div class="col-lg-3">
            <h4>Date: @DateTime.Now.ToShortDateString()</h4>
        </div>*@
</div>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table table-hover">
    <tr>

        <th>
            @Html.DisplayName("Articulo")
        </th>
        <th>
            @Html.DisplayName("Cantidad")
        </th>
        <th>
            @Html.DisplayName("Precio Unitario")
        </th>

        <th></th>
    </tr>
    @{
        double total = 0;
    }
    @if (Session["Carrito"] != null)
    {
        foreach (var item in Session["Carrito"] as List<ASF.Entities.CartItemDTO>)
        {
            total += (double)(item.Price * item.Quantity);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td>
                    @Html.ActionLink("Quitar", "Delete", new { id = item.ProductId }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
        <tr>
            <th colspan="2">
                @Html.DisplayName("Total")
            </th>
            <th>
                @Html.DisplayName(total.ToString())
            </th>
            <th>

            </th>
        </tr>
    }
</table>
<div class="row">
    <div class="col-lg-2">
        @Html.ActionLink("Seguir Comprando", "Index", "Product", null, new { @class = "btn btn-success" })
    </div>
</div>

@Html.Partial("_Espacio2")

@Html.Partial("_Espacio2")